@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Karla";
  src: url("/Users/portinos/Desktop/francisco/francisco/public/fonts/Karla-Regular.ttf")
    format("ttf");
  font-weight: 300;
  font-style: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}

.marquee {
  animation: marquee 3s linear infinite;
}

.dialog_box:after,
.dialog_box:before {
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
}
.dialog_box:after {
  border-width: 5px;
}
.dialog_box:before {
  border-width: 8px;
}

/*Arrow pointing LEFT*/
.dialog_box.left:after,
.dialog_box.left:before {
  right: 100%;
  top: 50%;
}
.dialog_box.left:after {
  border-color: transparent #f4f4f4 transparent transparent;
  margin-top: -5px;
}
.dialog_box.left:before {
  border-color: transparent #000 transparent transparent;
  margin-top: -8px;
}

@keyframes dialog-box {
  0% {
    opacity: 0;
    transform: translateX(-2%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.dialogbox {
  animation: dialog-box 200ms ease-out;
}
