@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Karla';
  src: url('../public/fonts/Karla-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'KarlaLight';
  src: url('../public/fonts/Karla-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'KarlaExtraBold';
  src: url('../public/fonts/Karla-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter.ttf') format('truetype');
}
@font-face {
  font-family: 'HomemadeApple';
  src: url('../public/fonts/HomemadeApple-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RecoletaBlack';
  src: url('../public/fonts/Recoleta-Black.ttf') format('truetype');
}
