@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Karla";
  src: url("../public/fonts/Karla-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter.ttf") format("truetype");
}
@font-face {
  font-family: "HomemadeApple";
  src: url("../public/fonts/HomemadeApple-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lilita";
  src: url("../public/fonts/LilitaOne-Regular.ttf") format("truetype");
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container {
  display: flex;
  overflow: hidden;
}

.marquee {
  display: inline-flex;
  min-width: 100%;
  animation: marquee 15s linear infinite;
}
.marquee-container:hover .marquee {
  animation-play-state: paused;
}

.dialog_box:after,
.dialog_box:before {
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
}
.dialog_box:after {
  border-width: 5px;
}
.dialog_box:before {
  border-width: 8px;
}
.dialog_box.left:after,
.dialog_box.left:before {
  right: 100%;
  top: 50%;
}
.dialog_box.left:after {
  border-color: transparent #f4f4f4 transparent transparent;
  margin-top: -5px;
}
.dialog_box.left:before {
  border-color: transparent #000 transparent transparent;
  margin-top: -8px;
}

@keyframes dialog-box {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.dialog_box {
  animation: dialog-box 200ms ease-out;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake:hover {
  animation: shake 0.3s linear infinite;
}

.image {
  transition: opacity 0.2s ease-in-out;
}

.photo {
  opacity: 1;
}

.fun-photo {
  opacity: 0;
}

.picture-container:hover .photo {
  opacity: 0;
}

.picture-container:hover .fun-photo {
  opacity: 1;
}
